vendor
composer.lock
composer.phar
.env
cache/*
!cache/.gitkeep
logs/*
!logs/.gitkeep

# PHPUnit coverage
coverage

# Log files
*.log
*.tmp


# PhpStorm
.idea

## OS ##

# Linux
*~
*.swp
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
