vendor
composer.lock
composer.phar
.env
_backup/
cache/*
!cache/.gitkeep
logs/*
!log/.gitkeep
*.log
*.tmp

# PHPUnit coverage
coverage

# PhpStorm
.idea

## OS ##

# Linux
*~
*.swp
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
