vendor
LogFile
node_modules
composer.lock
composer.phar
.env
cache/*
!cache/.gitkeep

# Log files
*.log
*.tmp

# Gettext
*.mo

# PHPUnit coverage
coverage

# PhpStorm
.idea

## OS ##

# Linux
*~
*.swp
.directory

# Windows
ehthumbs.db
Icon?
Thumbs.db

# Mac OS
.DS_Store*
._*
